* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    margin: 2%;
}

body {
    text-align: center;
    background-color:aliceblue;
}

form {
    text-align: left;
    border: 2px solid black;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    width: 30%;
    margin-left: 34%;
    background-color: grey;
}

div {
    margin-top: 1%;
}

.button {
    padding: 0.5%;
}